body{
	margin: 0;
	font-family: Ariel, Helvetica, sans-serif;
	background: #FFFF;
	font-size: 1.1em;

}

#showcase {

	background: #034fdb;
	padding-top: 20%;
	padding-bottom:20%;
	color: #FFFF;
	text-align: center;
}

.highlight{
	color: #f5f500;
}

@media(min-width: 700px){
	.grid{
		display: grid;
		grid-template-columns: 1fr(2,minmax(auto,25em)) 1fr;

	}

	#section{
	
		color: #034fdb;
		padding-bottom: 20%;
		columns: 2;
		column-gap: 2em;
		text-align: left;
		padding-right: 10%;
		padding-left: 70%;
	}
	

}

